
    <div class="controls">
        <label for="spacing">Spacing :</label>
        <input id="spacing" type="range" name="spacing" min="10" max="100" value="10" data-sizing="px" />

        <label for="base">Base color :</label>
        <input id="base" type="color" name="base" />

    </div>
    </h5>

    <h1>Mystragram</h1>
    <input type="text" name="search" class="search" id="searh" placeholder="search">
    <div class="zoom">
        <div class="gallery">

        </div>
        <script src="./index.js"></script>
    </div>


    <script src="script.js"></script>
